<!DOCTYPE html>
<html><link rel="stylesheet" href="static/kit.css"/>
<link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Tangerine|Anton|Libre+Baskerville|Lobster" rel="stylesheet"  type="text/css">
<body class="bk">
  <h1 style="color:orange;">
    <p align=center>
  Kolhapur Institute Of Technology's<br>
  College Of Engineering (Autonomous), Kolhapur<br>
      (Accrediated by NAAC 'A')<br>
          </p>
  </h1>
<div class="topnav" id="myTopnav">
  <a href = "#home">Home</a> 
  <a href="#About">About the College</a> 
  <a href="#Infra">Infrastructure</a> 
  <a href="#Academics">Academics</a> 
    <a href="#Placements">Placements</a> 
   <a href="#How">How to reach Us</a> 
    <a href="kitbranch" action="kitbranch">Predict Admission</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div class="target">
<div id="About">
  <p class="bl-text">
    Premier Institute in engineering & Technology established in 1983 by group of visionary industrialist, professionals and educationalists. The vast exposure and experience of its founders has helped Kolhapur institute of Technology’s College of Engineering Kolhapur to establish its identity as an Institute of repute in the field of Engineering and Management education. The first among the self-financed engineering college in Maharashtra.</p>
    <p class = "newpara">
   The Institute has been awarded “A Grade Status with CGPA 3.12” by The National Assessment and Accreditation Council (NAAC), Bengaluru. Institute has successfully received accreditation for six departments (Civil Engineering, Computer Science & Engineering, Environmental Engineering, Electronics Engineering, Mechanical Engineering, and Production Engineering) by National Board of Accreditation (NBA), New Delhi, which is Govt. body for accreditation of programs in institutes. The Institute has also received Permanent Affiliation by Shivaji University Kolhapur and has received Autonomous status. We are committed to students and stakeholders for best results and following it successfully produced more than 15000 engineers getting campus placements and becoming entrepreneurs becoming one of the most prominent and successful Institute for Engineering Education in western Maharashtra.
    </p>
</div>
  
  <div id="Infra">
    <li>ClassRooms</li>
   <img src="http://bit.ly/2ybjjw8" alt="KGCAS" width=300px height=200px>
    <p class="green-text">
      Spacious, fully- furnished class rooms with neat desks and benches, light and fan facilities are being maintained in a proper manner, providing a clean and healthy environment conducive to study.
    </p>
    <li>Library</li>
    <img src="http://bit.ly/2zi5UGl" alt="KGCAS" width=300px height=200px>
    <p class="bl-text">
      "Knowledge is power and library is the powerhouse". Books are the best teachers and counselors. To synchronize theory and practice, the journals, magazines and newspapers are very helpful. A Library is a collection of information, resources and services, organized for use, and maintained by a responsible body. Libraries inform the public of what materials are available in their collections and how to access that information. A modern Library provides educational resources to students and teachers through publications and other electronic media.

The library is spanned in a 3000 sqft building with air-conditioning facility and it can accommodate 350 students for reading.

The library is computerized and is well equipped with more than 7000 volumes of books various disciplines, 55 magazines and periodicals. The college has invested more than Rs 35 lakhs for the library in the last 4 years for the purchase of the books.

The college spends a minimum of Rs 5 lakhs each year on the books and Rs 2 lakhs for subscribing the journals and periodicals.
    </p>
    <p class="red-text">
    <li>Hostel</li>
    <img src="http://bit.ly/2yCFmA8" alt="KGCAS" width=300px height=200px>
    <p class="red-text">
      Hostels for students reflect corporate fitness in design and functionality, with separate infrastructure for men and women. The campus hostels are again an opportunity for cross integration of student learning with corporate life where the student is able to share knowledge and learn from his mentors the workplace competencies. We have separate hostels for men and women viz. KGiSL-Boys Hostel & KGiSL-Girls Hostel. 
    </p>
  </div>
    <div id="Academics">
     
           <ul class="ls-text">
           <h1> Departments : </h1>
          <li> Computer Science Engineering</li>
          <li> Electronics & Telecommunication</li>
          <li> CSE(Artifical Intelligence & Machine learning)</li>
          <li> CSE(Data Science)</li>
          <li> Computer Science & Business Systems</li>
          <li> Electrical Engineering</li>
          <li> Mechanical Engineering</li>
          <li> Civil Engineering</li>
          <li> Biotechnology Engineering</li>
          <li> Civil & Environmental Engineering</li>
              </ul>
          </div>
  <div id="Placements">
    <p class="bul-text">
      <br>Average Package : 4-5 LPA</br> 
      <br>Highest Package : 41 LPA</br>
    </p>
  </div>
  <div id="How" class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30581.298348594766!2d74.24438014373297!3d16.64370948224778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc0ffb509926fa9%3A0x9af43eb75ec2804!2sKIT&#39;s%20College%20of%20Engineering%20(An%20Autonomous%20Institute)!5e0!3m2!1sen!2sin!4v1685192533373!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"</iframe>
  </div>
      </div>
      <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Company<span>logo</span></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">CollegeVista © 2023</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Rajarampuri 6th lane,</span>Kolhapur,Maharashtra,India, </p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 9834xxxxxx</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@collegevista.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
				 We are predicting colleges based on students marks & details.We provide college information to help number of students.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook" style="font-size:24px;"></i></a>
					<a href="#"><i class="fa fa-twitter" style="font-size:24px;"></i></a>
					<a href="#"><i class="fa fa-linkedin" style="font-size:24px;"></i></a>
					<a href="#"><i class="fa fa-github" style="font-size:24px;"></i></a>

				</div>

			</div>

		</footer>
</body>
</html>