<!DOCTYPE html>
<html>
      <head>
            <title></title>
            <link rel="stylesheet" type="text/css" href="styles.css">
      </head>
      <body>
            <header>
                  <nav>
                        <div class="logo"> </div>
                        <img src="D:\MiniProject\20230428_161017.png" alt="Logo" height="50px" width="250px">
                        <div class="menu">
                              <a href="#" style="font-size: ">Home</a>
                              <a href="#">Colleges</a>
                              <a href="https://www.youtube.com/channel/UCwfaAHy4zQUb2APNOGXUCCA" target="_blank">about</a>
                              <a href="#">contact</a>
                        </div>
                  </nav>
                  <main>
                        <section>
			<h3>Welcome To CollegeVista</h3>
                  <h1>: Prediction Based On Your Percentile :</h1>
                        </section>

                  </main>
            </header>
      </body>
</html>