[3:00 pm, 05/06/2023] Shivam Saidane AIML: <style>
		header {
		height: 100vh;
		background-image: linear-gradient(#ffffff, #ffffff),
		  url("../images/taj.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	    }
	</style>
[3:04 pm, 05/06/2023] Shivam Saidane AIML: body{
      font-family: "Open Sans", sans-serif;
}
body .h1{
      font-size: 16px;
      
}
.bk{
      background-color: #ffffff;
      height: auto; /* You must set a specified height */
      background-position: center; /* Center the image */
    }
     .img-responsive{
      width: auto;
      height: auto;
      }
    .green-text{
        font-family: "Open Sans", sans-serif;
        color: rgb(0, 0, 0);
        font-size: 20px;
          }
      .red-text {
        color: rgb(0, 0, 0);
        font-family:"Open Sans", sans-serif;
        text-align:justify;
        font-size: 20px;
      }
      ul .h1{
       color: rgb(0, 0, 0);
      }
    .pstyle
    {
      font-size:28px;
      }
    
    h2 {
        font-family: "Open Sans", sans-serif;
      }
    li{
      font-size: large;
    }
    .bl-text{
      font-family:"Open Sans" , sans-serif;
      color:rgb(0, 0, 0);
      font-size:20px;
      text-align:justify;
    }
    .newpara{
      font-family:"Open Sans", sans-serif;
      color:rgb(0, 0, 0);
      font-size:20px;
      text-align:justify;

    }
    .bul-text{
      font-family:"Open Sans", sans-serif;
      color:rgb(255, 98, 0);
      font-size : 30px;
      text-align:justify;
    }
    .ls-text{
      list-style-image: url("http://bit.ly/2ApzHuw");
      font-size:20px;
      font-family: "Open Sans" , sans-serif;
      text-align: justify ;
      }
    .d-text{
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      text-align: justify ;
    }
    
    .topnav {
        background-color: #bcbcbc;
        overflow: hidden;
        margin-block-start: 0 auto;
        align-items: center;
    }
    
    .topnav a {
        list-style: none;
        display:block;   
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        text-transform: uppercase;
    }
    
    .topnav a:hover {
        background-color: #ff6a00;
        color: rgb(37, 37, 37);
    }
    
    .topnav .icon {
        display: none;
    }
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    img:hover {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .target{
      font-family: "Open Sans", sans-serif;
      font-size:14px;
      color: rgb(0, 0, 0);
      text-align: justify;
    }
    .target >div{
      display:none;
    }
    .target >div:target{
    display:block;  
      }
    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);