.modal-btn {
    padding: 10px 20px;
    color: #01b491;
    font-size: 16px;
    font-weight: bold;
    outline: solid #01b491 2px;
    cursor: pointer;
    /*position: absolute;
    left: 100px;
    top: 150px;*/
  }
  
  #modal-toggle {
    display: none;
  }
  
  .modal-content,
  .modal-backdrop {
    opacity: 0;
    position: fixed;
    padding: 15px;
    padding-top: 50px;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .modal-content {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 550px;
    max-height: 98%;
    width: 70%;
    max-width: 600px;
    text-align: center;
    transform: translateX(125%);
  }
  
  .modal-backdrop {
    left: 0;
    top: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    transform: scale(0);
  }
  
  #modal-toggle:checked ~ .modal-backdrop {
    opacity: 1;
    background-color: rgba(0, 70, 62, 0.5);
    z-index: 998;
    transform: scale(1);
  }
  
  #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto;
    cursor: auto;
    z-index: 999;
    transform: translateX(0%);
  }
  
  @media (max-width: 600px) {
    #modal-toggle:checked ~ .modal-backdrop {
      opacity: 0;
    }
  
    .modal-content {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    }
  }
  .modal-close-btn {
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
   position: absolute;
      right: 10px;
      top: 5px;
  }
  .modal-close-btn svg {
    transition: 0.2s;
  }
  .modal-close-btn svg line {
    stroke-width: 5px;
    stroke: #01b491;
  }
  .modal-close-btn:hover svg {
    transform: rotate(90deg);
  }
  
  /* BASIC FUNCTIONALITY .tabs */
  .tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .tabs > .radio {
    display: none;
  }
  .tabs > .radio:checked + .table + .tabs-content {
    display: block;
  }
  .tabs > .table {
    order: -1;
    flex-basis: 50%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tabs .tabs-content {
    width: 100%;
    display: none;
  }
  
  /* END BASIC FUNCTIONALITY .tabs */
  /*  THEME for .tabs with login & sign-in  */
  .tabs > .table {
    padding: 20px 0;
    text-align: center;
    border-bottom: solid #01b491 5px;
    color: #01b491;
    cursor: pointer;
  }
  .tabs > .table span {
    font-weight: 600;
  }
  .tabs > .table:hover {
    color: #01b491;
    background: rgba(0, 121, 107, 0.2);
  }
  .tabs > .radio:checked + .table {
    color: #fff;
    background: #01b491;
    cursor: auto;
  }
  .tabs > .radio:checked + .table span {
    display: inline-block;
    font-weight: 500;
    transform: scale(1.2);
    transition: 0.1s;
  }
  
  /*  END THEME for .tabs with login & sign-in  */
  /*  START style login & sign up  */
     .tabs > .tabs-content .login_socnet {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-wrap: no-wrap;
          justify-content: space-around;
}
    .tabs > .tabs-content .login_socnet a {
          margin: 20px;
          margin-bottom: 0;
          width: 100%;
          font-size: 60px;
          text-decoration: none;
          transition: 0.2s;
  }
  .tabs > .tabs-content .login_socnet a:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.2));
  }
  .tabs > .tabs-content .login_socnet .fa-vk {
    color: #7986CB;
  }
  .tabs > .tabs-content .login_socnet .fa-google-plus {
    color: #E57373;
  }
  .tabs > .tabs-content .login_socnet .fa-facebook {
    color: #5C6BC0;
  }
  .tabs > .tabs-content form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .tabs > .tabs-content form input {
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: solid 1px #01b491;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.1s;
  }
  .tabs > .tabs-content form input:focus {
    transform: translateX(10px);
    outline: none;
  }
  .tabs > .tabs-content input[type="submit"] {
    padding: 15px 0;
    width: 100%;
    background: #01b491;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .tabs > .tabs-content input[type="submit"]:focus {
    transform: none;
  }
  .tabs > .tabs-content .forgot-password label {
    margin: 0 auto;
    width: 50%;
    color: #01b491;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
  }
  .tabs > .tabs-content .forgot-password label:hover {
    text-decoration: underline;
  }
  
  /*  END style login & sign up  */
  .forgot-password #forgot-password-toggle {
    display: none;
  }
  .forgot-password .forgot-password-content {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .forgot-password .forgot-password-content input[type="email"] {
    width: 80%;
    margin-right: 0px;
    border-right: none;
  }
  .forgot-password .forgot-password-content input[type="submit"] {
    width: 20%;
    margin-left: 0px;
  }
  .forgot-password #forgot-password-toggle:checked ~ .forgot-password-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
  }
  
  /* Styles for laptops and desktops */
  @media (min-width: 992px) {
    /* CSS styles for laptops/desktops */
  }

  /* Styles for tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    /* CSS styles for tablets */
  }

  /* Styles for mobile devices */
  @media (max-width: 767px) {
    /* CSS styles for mobile devices */
  }

