* {
  margin: 5;
  padding: 5;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#ade0fe, #bbe1f7),
    url("../images/taj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  height: 15vh;
  background: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo img {
  width: 250px;
  height:  50px;
  text-align: center;
  padding: right 2%;
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: #212A3E;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10cm;
  color: #212A3E;
}

section h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
  margin-top: 30%;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}
select {
  width: 33%;
  margin: 8px 0;
  font-size: 1.35rem;
  padding: 2px 5px;
  box-sizing: border-box;
  border: 2px solid #180033;
  font-family: "Open Sans", sans-serif;
}
label {
  font-weight: 550;
  font-family: sans-serif;
  font-size: 1.7rem;
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
}
input[type=float] {
width: 28%;
padding: 12px 20px;
font-size: medium;
margin: 8px 0;
box-sizing: border-box;
} 
input[type=float]:focus{
border: 1px solid #555;
}
.flow-control {
font-family: "Open Sans", sans-serif;
font-size: 1.7rem;
font-weight: 550;
height: 2em;
line-height: 1.1;
display: inline-block;
grid-template-rows: 1em auto;
gap: 0.5em;
}
section p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}
section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 550;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  position: absolute ;
  bottom: 320px;
  align-content: center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #180033 ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 16px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

    /* Styles for laptops and desktops */
    @media (min-width: 992px) {
      /* CSS styles for laptops/desktops */
    }

    /* Styles for tablets */
    @media (min-width: 768px) and (max-width: 991px) {
      /* CSS styles for tablets */
    }

    /* Styles for mobile devices */
    @media (max-width: 767px) {
      /* CSS styles for mobile devices */
    }


    